@import 'mixins/mixins';
@import 'layouts/_header';
@import 'layouts/_home';
@import 'layouts/_footer';
// COMMON
.overflow-hidden {
    overflow: hidden;
}

.kiccho-show-sp {
    display: none;
}

@include maxWidth(767.98px) {
    .kiccho-show-sp {
        display: block;
    }

    .kiccho-hidden-sp {
        display: none !important;
    }
}

.common-block-title {
    label {
        font-family: IowanOldStyle Italic, sans-serif;
        font-size: 33px;
        letter-spacing: 1.65px;
        color : #000000;
        line-height: 57px;
    }
    p {
        font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
        font-size: 15px;
        letter-spacing: 1.5px;
        color : #302F2B;
    }
    @include maxWidth(767.98px) {
        label {
            font-size: 36px;
            line-height: 74px;
            letter-spacing: 1.8px;
        }
        p {
            font-size: 23px;
            letter-spacing: 2.3px;
        }
    }
}

.btn-direction {
    padding: 10px 10px;
    background-color: #191919;
    display: block;
    text-align: center;
    a {
        border: solid 1px #FFFFFF;
        display: block;
        text-decoration: none;
        font-family: YuGo Bold-83pv-RKSJ-H;
        font-size: 16px;
        letter-spacing: 1.6px;
        color : #FFFFFF;
    }
    &:hover {
        opacity: 0.75;
    }
}