@font-face {
    font-family: 'TsukuOldMinPro-R';
    src: url(../fonts/FOT-TsukuOldMinPro-R.otf) format('opentype'), /*Chrome*/
         url(../fonts/FOT-TsukuOldMinPro-R.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'KozGoPr6N-Regular';
    src: url(../fonts/KozGoPr6N-Regular.otf) format('opentype'), /*Chrome*/
         url(../fonts/KozGoPr6N-Regular.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'YuMinPr6N';
    src: url(../fonts/YuMinPr6N-Regular.ttf) format('truetype'), /*Chrome*/
         url(../fonts/YuMinPr6N-Regular.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'YuMin-Medium';
    src: url(../fonts/YuMin-Medium.ttf) format('truetype'), /*Chrome*/
         url(../fonts/YuMin-Medium.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'MidashiGoProMB31';
    src: url(../fonts/MidashiGoProMB31.otf) format('opentype'), /*Chrome*/
         url(../fonts/MidashiGoProMB31.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'IowanOldStyleItalic';
    src: url(../fonts/IowanOldStyleItalic.otf) format('opentype'), /*Chrome*/
         url(../fonts/IowanOldStyleItalic.woff) format('woff'); /*IE*/
}

@font-face {
    font-family: 'ConceptBold';
    src: url(../fonts/ConceptBold.ttf) format('truetype'), /*Chrome*/
         url(../fonts/ConceptBold.woff) format('woff'); /*IE*/
}