#top-page .main-banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #262626;
  background-image: url('../images/bgc1.png');
  z-index: 2;
}
@media (max-width: 767.98px) {
  #top-page .main-banner {
    padding-bottom: 64px;
  }
}
#top-page .main-banner header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#top-page .main-banner .nav-menu {
  position: absolute;
  top: 30px;
  right: 35px;
  border: none;
  background: none;
  outline: none;
  z-index: 3;
}
#top-page .main-banner .nav-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#top-page .main-banner .nav-menu span:not(:last-child) {
  margin-bottom: 12px;
}
#top-page .main-banner .nav-menu span.bar1 {
  width: 60px;
}
#top-page .main-banner .nav-menu span.bar2 {
  width: 50px;
}
#top-page .main-banner .nav-menu span.bar3 {
  width: 25px;
}
#top-page .main-banner .nav-menu p {
  text-transform: uppercase;
  font-family: MidashiGoProMB31, sans-serif;
  font-size: 17px;
  color: #fff;
  text-align: left;
}
#top-page .main-banner .nav-menu.change span {
  background-color: #000;
  width: 100%;
}
#top-page .main-banner .nav-menu.change span.bar1 {
  transform: rotate(-45deg) translate(-9px, 7px);
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  -moz-transform: rotate(-45deg) translate(-9px, 7px);
  -ms-transform: rotate(-45deg) translate(-9px, 7px);
  -o-transform: rotate(-45deg) translate(-9px, 7px);
}
#top-page .main-banner .nav-menu.change span.bar2 {
  opacity: 0;
}
#top-page .main-banner .nav-menu.change span.bar3 {
  transform: rotate(45deg) translate(-13px, -13px);
  -webkit-transform: rotate(45deg) translate(-13px, -13px);
  -moz-transform: rotate(45deg) translate(-13px, -13px);
  -ms-transform: rotate(45deg) translate(-13px, -13px);
  -o-transform: rotate(45deg) translate(-13px, -13px);
}
#top-page .main-banner .nav-menu.change p {
  opacity: 0;
}
#top-page .main-banner .open-nav {
  background-color: rgba(231, 229, 222, 0.97);
  background-image: url('../images/bgc-nav.png');
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
#top-page .main-banner .open-nav.open-nav--mod {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  overflow-y: auto;
}
#top-page .main-banner .open-nav .content-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#top-page .main-banner .open-nav .content-nav .text-inner-nav {
  margin-top: 70px;
  margin-bottom: 30px;
}
#top-page .main-banner .open-nav .content-nav .text-inner-nav a {
  font-size: 16px;
  color: #343434;
}
#top-page .main-banner .open-nav .content-nav .text-inner-nav a.active {
  background: rgba(0, 0, 0, 0.1);
}
#top-page .main-banner .open-nav .content-nav .text-inner-nav a:hover {
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 767.98px) {
  #top-page .main-banner .open-nav .content-nav {
    top: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  #top-page .main-banner .open-nav .content-nav .logo-inner-nav {
    width: 69px;
    height: auto;
  }
  #top-page .main-banner .open-nav .content-nav .text-inner-nav {
    display: block;
    margin-top: 88px;
    margin-bottom: unset;
  }
  #top-page .main-banner .open-nav .content-nav .text-inner-nav a {
    display: block;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin-right: unset;
    margin-bottom: 40px;
  }
}
#top-page .main-banner .open-nav .icon-social {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#top-page .main-banner .open-nav .icon-social .icon-item {
  background-color: #5e5e5e;
}
#top-page .main-banner .open-nav .icon-social .instagram {
  margin-bottom: 11px;
}
@media (max-width: 767.98px) {
  #top-page .main-banner .open-nav .icon-social-sp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 25px;
  }
  #top-page .main-banner .open-nav .icon-social-sp .icon-item {
    background-color: #000;
  }
  #top-page .main-banner .open-nav .icon-social-sp .instagram {
    margin-right: 11px;
  }
}
#top-page .main-banner .slideshow-wrap {
  position: relative;
  top: 64px;
  width: calc(100% - 48px);
  height: 100%;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  #top-page .main-banner .slideshow-wrap {
    width: 100%;
    margin-left: unset;
  }
}
#top-page .main-banner .slideshow-wrap .slide-banner {
  z-index: 0;
}
#top-page .main-banner .slideshow-wrap .slide-banner div {
  height: calc(100vh - 64px);
  background-size: cover;
  background-position: center;
}
#top-page .main-banner .slideshow-wrap .slide-banner.kiccho-show-sp.owl-loaded {
  display: none;
}
@media (max-width: 767.98px) {
  #top-page .main-banner .slideshow-wrap .slide-banner.kiccho-show-sp.owl-loaded {
    display: block;
  }
}
#top-page .main-banner .slideshow-wrap .slide-paging {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 54px;
  height: 54px;
  border: solid 1px #fff;
  border-radius: 50%;
  display: table;
  z-index: 1;
}
#top-page .main-banner .slideshow-wrap .slide-paging p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: MyriadVariableConcept, sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 20.74px;
  letter-spacing: 1.9px;
}
#top-page .main-banner .slideshow-wrap .slide-paging p:first-child {
  position: relative;
  top: -7px;
  left: 5px;
}
#top-page .main-banner .slideshow-wrap .slide-paging p:last-child {
  position: relative;
  top: 7px;
  left: -2px;
}
#top-page .main-banner .slideshow-wrap .slide-paging span {
  margin-top: 10px;
  background: #fff;
  display: block;
  width: 2px;
  height: 34px;
  transform: rotate(40deg);
}
#top-page .main-banner .slideshow-wrap .logo {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 48px);
}
#top-page .main-banner .slideshow-wrap .logo-pc {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 58px;
  height: auto;
}
#top-page .main-banner .slideshow-wrap .logo-pc img {
  width: 100%;
  height: 100%;
}
#top-page .main-banner .slideshow-wrap .text-large {
  position: absolute;
  top: 180px;
  right: 14%;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
#top-page .main-banner .slideshow-wrap .text-large p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 34px;
  width: 34px;
  line-height: 42px;
  color: #fff;
}
#top-page .main-banner .slideshow-wrap .text-large p:first-child {
  margin-right: 25px;
}
#top-page .main-banner .slideshow-wrap .text-small {
  position: absolute;
  bottom: 115px;
  right: 4.73%;
  z-index: 2;
}
#top-page .main-banner .slideshow-wrap .text-small:before {
  content: '';
  display: block;
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #e8e6df;
}
#top-page .main-banner .slideshow-wrap .text-small:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #e8e6df;
}
#top-page .logo-size {
  width: 84px;
  height: auto;
}
#top-page .logo-size img {
  width: 100%;
  height: 100%;
}
#top-page .logo-black {
  width: 78px;
  height: auto;
  margin: 0 auto;
}
#top-page .logo-black img {
  width: 100%;
  height: 100%;
}
#top-page .phone a {
  display: block;
  width: 225px;
  height: 42px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 14px;
  line-height: 42px;
  color: #000;
  letter-spacing: 5px;
}
#top-page .phone a:hover {
  opacity: 0.75;
}
@media (max-width: 767.98px) {
  #top-page .phone a {
    width: 484px;
    height: 91px;
    line-height: 91px;
    border: 2px solid #000;
    font-size: 28px;
  }
}
@media (max-width: 575.98px) {
  #top-page .phone a {
    width: 300px;
    height: 91px;
  }
}
#top-page .icon-item {
  width: 41px;
  height: 41px;
}
#top-page .icon-item a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 50px;
}
#top-page .icon-item a:hover {
  opacity: 0.75;
}
#top-page .text-style {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
#top-page .text-style a {
  text-decoration: none;
  font-family: YuMin-Medium, sans-serif;
  font-size: 18px;
  width: 18px;
  height: 100%;
  line-height: 22px;
  color: #fff;
}
#top-page .text-style a:not(:last-child) {
  margin-right: 25px;
}
#top-page .text-style a.active {
  background: rgba(255, 255, 255, 0.1);
}
#top-page .text-style a:hover {
  background: rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  #top-page .text-style a span {
    display: block;
    transform: rotate(90deg);
  }
}
#top-page .back-to-top {
  position: fixed;
  bottom: 150px;
  right: 10%;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  opacity: 0;
  visibility: hidden;
}
#top-page .back-to-top img {
  display: block;
  width: 63px;
  height: 63px;
}
#top-page .back-to-top.show {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
#main-content .enclosing-block {
  background-color: #fff;
  background-image: url('../images/bgc2.png');
}
#main-content .enclosing-block .block-message {
  padding-top: 205px;
  padding-bottom: 122px;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message {
    background-color: #262626;
    background-image: url('../images/bgc1.png');
    padding-top: 29.78%;
    padding-bottom: unset;
    position: relative;
  }
}
#main-content .enclosing-block .block-message .body-inner {
  position: relative;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message .body-inner {
    position: unset;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column-reverse;
  }
}
#main-content .enclosing-block .block-message .body-inner .img-inner {
  width: 57.5%;
  height: auto;
}
#main-content .enclosing-block .block-message .body-inner .img-inner img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message .body-inner .img-inner {
    width: 100%;
    margin-bottom: -3px;
  }
}
#main-content .enclosing-block .block-message .body-inner .block-content {
  background-color: #e8e6df;
  width: 58.06%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8.41%;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content {
    width: 90.6%;
    transform: unset;
    position: unset;
    top: unset;
    right: unset;
    margin-top: 35px;
    margin-bottom: -3.91%;
  }
}
#main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja {
  position: absolute;
  top: 40px;
  right: -40px;
}
@media (max-width: 1199.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja label {
    font-size: 30px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja p {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja {
    top: 15px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja label {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja {
    top: 5%;
    right: 3.91%;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja label {
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 1.8px;
    color: #fff;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja p {
    font-size: 23px;
    color: #fff;
    letter-spacing: 2.3px;
  }
}
@media (max-width: 480px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja label {
    font-size: 30px;
    line-height: 50px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .title-en-ja p {
    font-size: 18px;
  }
}
#main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content {
  padding: 13.42% 17.17% 15.05% 9.7%;
}
#main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 28px;
  letter-spacing: 2.8px;
  color: #302f2b;
  margin-bottom: 40px;
}
#main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content p {
  font-family: YuGo Medium-83pv-RKSJ-H;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #000;
  line-height: 30px;
}
@media (max-width: 1199.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content {
    padding: 10.42% 14.17% 12.05% 6.7%;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content p {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content {
    padding: 11% 6%;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content {
    padding: 11% 8.6% 14%;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 {
    margin-top: unset;
    margin-bottom: 40px;
    font-size: 36px;
    letter-spacing: 3.6px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 span {
    display: block;
    line-height: 60px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content p {
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: 42px;
  }
}
@media (max-width: 480px) {
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content h3 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  #main-content .enclosing-block .block-message .body-inner .block-content .inner-block-content p {
    font-size: 16px;
    line-height: 32px;
  }
}
#main-content .enclosing-block .block-news {
  background-color: #ededeb;
  position: relative;
}
#main-content .enclosing-block .block-news .body-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-news .body-inner {
    display: block;
    padding: 60px 7.05%;
  }
}
#main-content .enclosing-block .block-news .body-inner .title-en-ja {
  width: 45%;
  text-align: center;
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-news .body-inner .title-en-ja {
    width: 39%;
  }
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-news .body-inner .title-en-ja {
    width: 100%;
  }
}
#main-content .enclosing-block .block-news .body-inner ul.list-content {
  width: 42%;
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-news .body-inner ul.list-content {
    width: 48%;
  }
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-news .body-inner ul.list-content {
    width: 100%;
  }
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list {
  border-bottom: solid 1px #909090;
  position: relative;
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-decoration: none;
  font-family: YuGo Bold-83pv-RKSJ-H;
  color: #000;
  letter-spacing: 0.85px;
  padding: 35px 0;
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list a span {
  font-size: 14px;
  margin-right: 45px;
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list a p {
  font-size: 17px;
  max-width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #909090;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#main-content .enclosing-block .block-news .body-inner ul.list-content li.item-list:hover:after {
  width: 100%;
}
#main-content .enclosing-block .block-news .read-more {
  position: absolute;
  right: 4.36%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#main-content .enclosing-block .block-news .read-more a {
  display: block;
  text-decoration: none;
  text-align: center;
}
#main-content .enclosing-block .block-news .read-more a img {
  width: 35px;
  height: 35px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
#main-content .enclosing-block .block-news .read-more a:hover {
  opacity: 0.75;
}
#main-content .enclosing-block .block-news .read-more a:hover img {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
#main-content .enclosing-block .block-news .read-more a p {
  font-family: YuGo Bold-83pv-RKSJ-H;
  font-size: 13px;
  color: #000;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-news .read-more-pc {
    padding-bottom: 17%;
  }
  #main-content .enclosing-block .block-news .read-more-pc a {
    display: block;
    text-decoration: none;
    font-family: YuGo Bold-83pv-RKSJ-H;
    font-size: 13px;
    color: #000;
    height: 95px;
    line-height: 95px;
    border: solid 2px #909090;
    margin: 0 7.05%;
    text-align: center;
  }
  #main-content .enclosing-block .block-news .read-more-pc a:hover {
    opacity: 0.75;
  }
}
#main-content .enclosing-block .block-furisode .body-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-furisode .body-inner {
    display: block;
    padding-bottom: 18%;
  }
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img {
  position: relative;
  width: 50%;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .slide-img {
    width: 100%;
    height: 100vh;
  }
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 54px;
  height: 54px;
  border: solid 1px #fff;
  border-radius: 50%;
  display: table;
  z-index: 1;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging {
    top: 32px;
    bottom: unset;
  }
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: MyriadVariableConcept, sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 20.74px;
  letter-spacing: 1.9px;
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging p:first-child {
  position: relative;
  top: -7px;
  left: 5px;
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging p:last-child {
  position: relative;
  top: 7px;
  left: -2px;
}
#main-content .enclosing-block .block-furisode .body-inner .slide-img .slide-paging span {
  margin-top: 10px;
  background: #fff;
  display: block;
  width: 2px;
  height: 34px;
  transform: rotate(40deg);
}
#main-content .enclosing-block .block-furisode .body-inner .body-content {
  width: 50%;
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .body-content {
    background-color: #fff;
    width: calc(100% - 64px);
    margin: 0 auto;
    position: relative;
    top: -60px;
    z-index: 1;
    padding-bottom: 40px;
  }
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .title-en-ja {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 60px;
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .text-under-title {
  padding: 0 24.5% 55px;
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .text-under-title p {
  font-family: YuGo Medium-83pv-RKSJ-H;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.9px;
  color: #000;
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .body-content .text-under-title {
    padding: 0 18% 55px;
  }
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .body-content .text-under-title {
    padding: 0 9% 50px;
  }
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx {
  margin: 0 24.5% 28%;
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx a {
  height: 87px;
  line-height: 87px;
}
#main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx .kiccho-show-sp {
  display: none;
}
@media (max-width: 991.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx {
    margin: 0 18% 28%;
  }
}
@media (max-width: 767.98px) {
  #main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx {
    margin: 0 9% 0;
  }
  #main-content .enclosing-block .block-furisode .body-inner .body-content .back-to-idx .kiccho-show-sp {
    display: block !important;
  }
}
#main-content .block-product {
  background-color: #e2dccd;
  text-align: center;
  width: 100%;
  height: 260px;
  display: table;
}
#main-content .block-product .title-en-ja {
  display: table-cell;
  vertical-align: middle;
}
#main-content .main-product {
  background-color: #262626;
  background-image: url('../images/bgc1.png');
}
#main-content .main-product .title-center {
  text-align: center;
  padding-top: 4.8%;
}
#main-content .main-product .title-center span:first-child {
  font-family: IowanOldStyle Italic, sans-serif;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #fcfcfc;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  white-space: nowrap;
}
#main-content .main-product .title-center span:last-child {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 40px;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media (max-width: 767.98px) {
  #main-content .main-product .title-center {
    padding: 15.5% 0;
  }
  #main-content .main-product .title-center span:first-child {
    font-size: 29px;
  }
  #main-content .main-product .title-center span:last-child {
    font-size: 33px;
  }
}
#main-content .main-product .list-products {
  padding-bottom: 15%;
}
@media (max-width: 767.98px) {
  #main-content .main-product .list-products {
    padding-bottom: unset;
    margin-bottom: -4%;
  }
}
#main-content .main-product .list-products .surround {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 16% 4% 0;
}
@media (max-width: 767.98px) {
  #main-content .main-product .list-products .surround {
    display: block;
    padding: unset;
  }
}
#main-content .main-product .list-products .item-product {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 4%;
}
#main-content .main-product .list-products .item-product img {
  width: 100%;
}
#main-content .main-product .list-products .item-product:first-child {
  top: -80px;
}
#main-content .main-product .list-products .item-product:last-child {
  top: 100px;
}
@media (max-width: 767.98px) {
  #main-content .main-product .list-products .item-product {
    padding-left: unset;
    padding-right: unset;
    margin-bottom: 4%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: #fff;
  }
  #main-content .main-product .list-products .item-product:first-child {
    top: unset;
  }
  #main-content .main-product .list-products .item-product:last-child {
    top: unset;
  }
  #main-content .main-product .list-products .item-product .img-product {
    width: 45%;
    height: 100%;
    margin-bottom: -3px;
  }
  #main-content .main-product .list-products .item-product .content-pc {
    width: 55%;
    height: 100%;
  }
}
#main-content .main-product .list-products .next-to-img {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#main-content .main-product .list-products .next-to-img span:first-child {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 35px;
}
#main-content .main-product .list-products .next-to-img span:last-child {
  font-family: IowanOldStyle Italic, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fcfcfc;
}
@media (max-width: 1199.98px) {
  #main-content .main-product .list-products .next-to-img {
    right: 0;
  }
}
@media (max-width: 991.98px) {
  #main-content .main-product .list-products .next-to-img span:first-child {
    right: 0;
    margin-bottom: 30px;
    font-size: 25px;
  }
  #main-content .main-product .list-products .next-to-img span:last-child {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  #main-content .main-product .list-products .next-to-img {
    position: unset;
    top: unset;
    right: unset;
    -webkit-writing-mode: unset;
    -moz-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    padding-left: 12%;
    padding-top: 9%;
  }
  #main-content .main-product .list-products .next-to-img span {
    color: #0c0c0c !important;
    display: block;
  }
  #main-content .main-product .list-products .next-to-img span:first-child {
    margin-bottom: 10px;
    font-size: 36px;
  }
  #main-content .main-product .list-products .next-to-img span:last-child {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media (min-width: 320px) and (max-width: 555px) {
  #main-content .main-product .list-products .next-to-img {
    padding-left: 8%;
  }
  #main-content .main-product .list-products .next-to-img span:first-child {
    font-size: 26px;
  }
  #main-content .main-product .list-products .next-to-img span:last-child {
    font-size: 16px;
  }
}
#main-content .main-product .list-products .text-under-img {
  margin-top: 15px;
}
#main-content .main-product .list-products .text-under-img p {
  font-family: YuGo Medium-83pv-RKSJ-H;
  font-size: 16px;
  line-height: 24.94px;
  letter-spacing: 0.8px;
  color: #fff;
}
@media (max-width: 767.98px) {
  #main-content .main-product .list-products .text-under-img {
    margin: 8% 12% 0;
  }
  #main-content .main-product .list-products .text-under-img p {
    font-size: 25px;
    line-height: 32px;
    color: #0c0c0c;
  }
}
@media (min-width: 320px) and (max-width: 555px) {
  #main-content .main-product .list-products .text-under-img {
    margin: 6% 8% 0;
  }
  #main-content .main-product .list-products .text-under-img p {
    font-size: 12px;
    line-height: 19px;
  }
}
#main-content .main-product .other-product {
  position: relative;
}
#main-content .main-product .other-product .next-to-bgc {
  position: absolute;
  top: 50%;
  right: 4.36%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
#main-content .main-product .other-product .next-to-bgc span {
  color: #000;
}
#main-content .main-product .other-product .next-to-bgc span:first-child {
  font-family: IowanOldStyle Italic, sans-serif;
  font-size: 25px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  white-space: nowrap;
}
#main-content .main-product .other-product .next-to-bgc span:last-child {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 22px;
  letter-spacing: 1.1px;
  line-height: 40px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media (max-width: 991.98px) {
  #main-content .main-product .other-product .next-to-bgc {
    right: 1%;
  }
  #main-content .main-product .other-product .next-to-bgc span:first-child {
    font-size: 22px;
  }
  #main-content .main-product .other-product .next-to-bgc span:last-child {
    font-size: 19px;
    line-height: 35px;
  }
}
@media (max-width: 767.98px) {
  #main-content .main-product .other-product .next-to-bgc {
    position: unset;
    transform: unset;
    justify-content: center;
    padding: 50px 0;
  }
  #main-content .main-product .other-product .next-to-bgc span {
    color: #fff;
  }
  #main-content .main-product .other-product .next-to-bgc span:first-child {
    font-size: 33px;
    order: 1;
  }
  #main-content .main-product .other-product .next-to-bgc span:last-child {
    font-size: 29px;
    line-height: 35px;
  }
}
#main-content .main-product .other-product .list-img {
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
#main-content .main-product .other-product .list-img .inner-list {
  padding: 0 1.24%;
}
#main-content .main-product .other-product .list-img .inner-list .item-img {
  width: 245px;
  height: 245px;
}
#main-content .main-product .other-product .list-img .inner-list .item-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 1023.98px) {
  #main-content .main-product .other-product .list-img .inner-list .item-img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767.98px) {
  #main-content .main-product .other-product .list-img .inner-list .item-img {
    width: 178px;
    height: 178px;
  }
}
@media (max-width: 575.98px) {
  #main-content .main-product .other-product .list-img .inner-list .item-img {
    width: 126px;
    height: 126px;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  #main-content .main-product .other-product .list-img .inner-list .item-img {
    width: 98px;
    height: 98px;
  }
}
#main-content .main-product .other-product .list-img .inner-list .text-under-img {
  margin-top: 15px;
  text-align: center;
}
#main-content .main-product .other-product .list-img .inner-list .text-under-img p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 16px;
  color: #000;
}
#main-content .main-product .block-under-other {
  text-align: center;
  padding: 90px 0;
}
#main-content .main-product .block-under-other p {
  font-family: YuGo Bold-83pv-RKSJ-H;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 1.5px;
  color: #fff;
}
@media (max-width: 767.98px) {
  #main-content .main-product .block-under-other {
    padding-top: 35px;
    padding-bottom: 75px;
  }
  #main-content .main-product .block-under-other p {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 15px;
  }
}
@media (max-width: 360px) {
  #main-content .main-product .block-under-other p {
    font-size: 17px;
  }
}
#main-content .kimono-clinic {
  background-color: #fff;
  background-image: url(../images/bgc3.png);
}
#main-content .kimono-clinic .wrap-body {
  padding: 13% 0;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-body {
    padding: 5% 0 25%;
  }
}
#main-content .kimono-clinic .wrap-content {
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content {
    display: block;
    background-color: unset;
  }
}
#main-content .kimono-clinic .wrap-content .content-left {
  width: 56.25%;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-left {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}
#main-content .kimono-clinic .wrap-content .content-left .inner-img {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 76%;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-left .inner-img {
    width: 72%;
    margin: unset;
    top: unset;
  }
}
#main-content .kimono-clinic .wrap-content .content-left .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-content .kimono-clinic .wrap-content .content-left .text-next-to-bgc {
  position: absolute;
  top: -25px;
  right: 5.5%;
}
#main-content .kimono-clinic .wrap-content .content-left .text-next-to-bgc p {
  width: 32px;
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 32px;
  color: #000;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-left .text-next-to-bgc {
    position: unset;
    width: 28%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
  #main-content .kimono-clinic .wrap-content .content-left .text-next-to-bgc p {
    margin: 0 auto;
    font-size: 40px;
  }
}
#main-content .kimono-clinic .wrap-content .content-right {
  width: 33%;
  margin-top: 100px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-right {
    width: 100%;
    margin-top: unset;
  }
}
#main-content .kimono-clinic .wrap-content .content-right .text-title h3 {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 22px;
  color: #000;
}
#main-content .kimono-clinic .wrap-content .content-right .text-content {
  margin-top: 40px;
  margin-bottom: 50px;
}
#main-content .kimono-clinic .wrap-content .content-right .text-content p {
  font-family: YuGo Medium-83pv-RKSJ-H;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #000;
  line-height: 30px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-right .text-content p {
    font-size: 22px;
    padding: 0 30px;
    line-height: 40px;
  }
}
#main-content .kimono-clinic .wrap-content .content-right .btn-clinic {
  height: 88px;
  line-height: 88px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-clinic .wrap-content .content-right .btn-clinic {
    margin: 0 30px;
  }
}
#main-content .kimono-accessories {
  background-color: #262626;
  background-image: url('../images/bgc1.png');
}
#main-content .kimono-accessories .section-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
#main-content .kimono-accessories .section-title .block-left {
  width: 64%;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-title .block-left {
    width: 50%;
  }
}
#main-content .kimono-accessories .section-title .block-left img {
  width: 100%;
  height: 100%;
}
#main-content .kimono-accessories .section-title .block-mid {
  width: 16.5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-title .block-mid {
    width: 50%;
  }
}
#main-content .kimono-accessories .section-title .block-mid img {
  width: 100%;
  height: 100%;
}
#main-content .kimono-accessories .section-title .block-mid .inner-text {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
}
#main-content .kimono-accessories .section-title .block-mid .inner-text span {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#main-content .kimono-accessories .section-title .block-mid .inner-text span:nth-child(1) {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 13px;
  letter-spacing: 3px;
  color: #fff;
}
#main-content .kimono-accessories .section-title .block-mid .inner-text span:nth-child(2) {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 13px;
  letter-spacing: 3px;
  color: #fff;
  margin-left: 5px;
}
#main-content .kimono-accessories .section-title .block-mid .inner-text span:nth-child(3) {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 35px;
  letter-spacing: 6px;
  color: #fff;
  margin-left: 28px;
}
#main-content .kimono-accessories .section-title .block-right {
  width: 19.5%;
}
#main-content .kimono-accessories .section-title .block-right img {
  width: 100%;
  height: 100%;
}
#main-content .kimono-accessories .section-product .list-products {
  padding-top: 110px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .list-products {
    padding-top: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }
}
#main-content .kimono-accessories .section-product .surround {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .surround {
    display: block;
  }
}
#main-content .kimono-accessories .section-product .surround:first-child {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .surround:first-child {
    margin-bottom: unset;
  }
}
#main-content .kimono-accessories .section-product .surround .item-product {
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .surround .item-product {
    padding: 0 10px;
  }
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover {
  position: relative;
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover:hover .hover-item {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover:hover .hover-item .inner-hover {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover:hover .hover-item .price {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #fff;
  margin: 10px 0;
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover:hover .hover-item .btn-shop-cart a {
  display: block;
  text-decoration: none;
  font-family: YuGo Bold-83pv-RKSJ-H;
  font-size: 13px;
  color: #fff;
  border: solid 1px #fff;
  padding: 6px 10px;
}
#main-content .kimono-accessories .section-product .surround .item-product .block-hover:hover .hover-item .btn-shop-cart a:hover {
  opacity: 0.75;
}
#main-content .kimono-accessories .section-product .surround .item-product .price-pc {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 25px;
}
#main-content .kimono-accessories .section-product .surround .item-product .price-pc img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
#main-content .kimono-accessories .section-product .surround .item-product .price-pc span {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #fff;
}
#main-content .kimono-accessories .section-product .surround .item-product .inner-img {
  display: block;
}
#main-content .kimono-accessories .section-product .surround .item-product .inner-img img {
  width: 100%;
  height: 100%;
}
#main-content .kimono-accessories .section-product .surround .item-product .text-under {
  margin-top: 10px;
}
#main-content .kimono-accessories .section-product .surround .item-product .text-under span {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #fff;
  line-height: 22px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .surround .item-product .text-under span {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  #main-content .kimono-accessories .section-product .surround .item-product .text-under span {
    font-size: 14px;
  }
}
@media (max-width: 413.98px) {
  #main-content .kimono-accessories .section-product .surround .item-product .text-under span {
    font-size: 10px;
  }
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .surround .item-product .text-under {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
}
#main-content .kimono-accessories .section-product .surround .item-product .hover-item {
  display: none;
}
#main-content .kimono-accessories .section-product .read-more {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  #main-content .kimono-accessories .section-product .read-more {
    padding-top: 25px;
    padding-bottom: 60px;
  }
}
#main-content .kimono-accessories .section-product .read-more a {
  text-decoration: none;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}
#main-content .kimono-accessories .section-product .read-more a span {
  font-family: YuGo Bold-83pv-RKSJ-H;
  font-size: 21px;
  color: #fff;
  margin-right: 5px;
}
#main-content .kimono-accessories .section-product .read-more a:hover {
  opacity: 0.75;
}
@media (max-width: 767.98px) {
  #main-content .contact-form {
    background-image: url(../images/bgc2.png);
  }
}
#main-content .contact-form .wrap-body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 15%;
  padding-bottom: 7%;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body {
    flex-direction: column;
    padding-top: 30%;
    padding-left: 35px;
    padding-right: 35px;
  }
}
#main-content .contact-form .wrap-body .contact-us {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .contact-us {
    width: 100%;
    display: block;
    order: 1;
  }
}
#main-content .contact-form .wrap-body .contact-us .contact-title {
  width: 17.25%;
  position: relative;
  top: -10%;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .contact-us .contact-title {
    width: 100%;
    position: unset;
    top: unset;
    padding: 12% 0;
  }
}
#main-content .contact-form .wrap-body .contact-us .contact-title p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 32px;
  letter-spacing: 3.2px;
  color: #000;
  width: 32px;
  margin-left: auto;
  line-height: 37px;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .contact-us .contact-title p {
    margin: 0 auto;
  }
}
#main-content .contact-form .wrap-body .contact-us .form {
  width: 65.75%;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .contact-us .form {
    width: 100%;
  }
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input {
  margin-bottom: 12px;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input input {
  width: calc(100% - 18px);
  padding: 20px 0 20px 16px;
  border: 1px solid #e8e6df;
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 18px;
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input input::placeholder {
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input textarea {
  width: calc(100% - 18px);
  padding: 20px 0 0 16px;
  border: 1px solid #e8e6df;
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 18px;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input textarea::placeholder {
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .itemt-input textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}
#main-content .contact-form .wrap-body .contact-us .form .btn-submit {
  height: 98px;
  line-height: 98px;
}
#main-content .contact-form .wrap-body .cpn-profile {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .cpn-profile {
    width: 100%;
    display: block;
  }
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-title {
  width: 17.25%;
  position: relative;
  top: -10%;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .cpn-profile .cpn-title {
    width: 100%;
    position: unset;
    top: unset;
    padding-bottom: 12%;
  }
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-title p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 32px;
  letter-spacing: 3.2px;
  color: #000;
  width: 32px;
  margin-left: auto;
  line-height: 37px;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .cpn-profile .cpn-title p {
    margin: 0 auto;
  }
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content {
  width: 74.5%;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  #main-content .contact-form .wrap-body .cpn-profile .cpn-content {
    width: 100%;
    display: block;
  }
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content .item-inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-bottom: 1px solid #e8e6df;
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content .item-inner:first-child {
  border-top: 1px solid #e8e6df;
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content .item-inner p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H;
  font-size: 18px;
  color: #000;
  padding: 25px 0;
  line-height: 25px;
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content .item-inner p:first-child {
  width: 25%;
}
#main-content .contact-form .wrap-body .cpn-profile .cpn-content .item-inner p:last-child {
  width: 75%;
}
#gmap {
  width: 100%;
  height: 600px;
}
@media (max-width: 767.98px) {
  #gmap {
    height: 900px;
  }
}
#footer {
  position: relative;
  width: 100%;
  height: 368px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-color: #262626;
}
#footer .text-footer {
  line-height: 47px;
}
#footer .logo-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#footer .text-footer {
  position: absolute;
  top: 60%;
  left: 12%;
  transform: translateY(-60%);
}
@media (max-width: 1199.98px) {
  #footer .text-footer {
    left: 9%;
  }
  #footer .text-footer a {
    font-size: 16px;
  }
  #footer .text-footer a:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 991.98px) {
  #footer .text-footer {
    left: 5%;
  }
  #footer .text-footer a:not(:last-child) {
    margin-right: 15px;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.kiccho-show-sp {
  display: none;
}
@media (max-width: 767.98px) {
  .kiccho-show-sp {
    display: block;
  }
  .kiccho-hidden-sp {
    display: none !important;
  }
}
.common-block-title label {
  font-family: IowanOldStyle Italic, sans-serif;
  font-size: 33px;
  letter-spacing: 1.65px;
  color: #000;
  line-height: 57px;
}
.common-block-title p {
  font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #302f2b;
}
@media (max-width: 767.98px) {
  .common-block-title label {
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 1.8px;
  }
  .common-block-title p {
    font-size: 23px;
    letter-spacing: 2.3px;
  }
}
.btn-direction {
  padding: 10px 10px;
  background-color: #191919;
  display: block;
  text-align: center;
}
.btn-direction a {
  border: solid 1px #fff;
  display: block;
  text-decoration: none;
  font-family: YuGo Bold-83pv-RKSJ-H;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #fff;
}
.btn-direction:hover {
  opacity: 0.75;
}
