@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin flexbox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin size($width:null, $height: null) {
    width: $width;
    height: $height;
    @if $width == fit-content {
        width: -webkit-fit-content;
        width: -moz-fit-content;
    }
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}

@mixin translateX($x) {
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
}

@mixin translateY($y) {
    transform: translateY($y);
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
}

@mixin rotate($deg, $x, $y) {
    transform: rotate($deg) translate($x, $y);
    -webkit-transform: rotate($deg) translate($x, $y);
    -moz-transform: rotate($deg) translate($x, $y);
    -ms-transform: rotate($deg) translate($x, $y);
    -o-transform: rotate($deg) translate($x, $y);
}

@mixin transition($seconds) {
    transition: $seconds;
    -webkit-transition: $seconds;
    -moz-transition: $seconds;
    -ms-transition: $seconds;
    -o-transition: $seconds;
}

@mixin minWidth($breakpoint) {
    @media (min-width: $breakpoint) { @content; }
}

@mixin maxWidth($breakpoint) {
    @media (max-width: $breakpoint) { @content; }
}

@mixin minMaxWidth($min, $max) {
    @media (min-width: $min) and (max-width: $max) { @content; }
}