#gmap {
    @include size(100%, 600px);
    @include maxWidth(767.98px) {
        height: 900px;
    }
}
#footer {
    position: relative;
    @include size(100%, 368px);
    @include flexbox;
    background-color: #262626;
    .text-footer {
        line-height: 47px;
    }
    .logo-footer {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }

    .text-footer {
        position: absolute;
        top: 60%;
        left: 12%;
        transform: translateY(-60%);
        @include maxWidth(1199.98px) {
            left: 9%;
            a {
                font-size: 16px;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        @include maxWidth(991.98px) {
            left: 5%;
            a {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}