#top-page {
    .main-banner {
        position: relative;
        @include size(100%, calc(100vh - 64px));
        background-color: #262626;
        background-image: url('../images/bgc1.png');
        z-index: 2;
        @include maxWidth(767.98px) {
            padding-bottom: 64px;
        }
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
        .nav-menu {
            position: absolute;
            top: 30px;
            right: 35px;
            border: none;
            background: none;
            outline: none;
            z-index: 3;
            span {
                display: block;
                @include size(null, 3px);
                background-color: #FFFFFF;
                border-radius: 5px;
                @include transition(0.5s);
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
                &.bar1 {
                    @include size(60px, null);
                }
                &.bar2 {
                    @include size(50px, null);
                }
                &.bar3 {
                    @include size(25px, null);
                }
            }
            
            p {
                text-transform: uppercase;
                font-family:MidashiGoProMB31, sans-serif;
                font-size: 17px;
                color : #FFFFFF;
                text-align: left;
            }
            &.change {
                span {
                    background-color: #000000;
                    @include size(100%, null);
                    &.bar1 {
                         @include rotate(-45deg, -9px, 7px);
                    }
                    &.bar2 {
                        opacity: 0;
                    }
                    &.bar3 {
                        @include rotate(45deg, -13px, -13px);
                    }
                }
                p {
                    opacity: 0;
                }
            }
        }

        .open-nav {
            background-color: rgba(231, 229, 222, 0.97);
            background-image: url('../images/bgc-nav.png');
            @include size(100%, 100vh);
            position: absolute;
            top: 0;
            z-index: 1;
            @include translateX(100%);
            &.open-nav--mod {
                @include transition(all 0.3s linear);
                @include translateX(0);
                overflow-y: auto;
            }
            .content-nav {
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
                .text-inner-nav {
                    margin-top: 70px;
                    margin-bottom: 30px;
                    a {
                        font-size: 16px;
                        color: #343434;
                        &.active {
                            background: rgba(0, 0, 0, 0.1);
                        }
                        &:hover {
                            background: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                @include maxWidth(767.98px) {
                    top: 30px;
                    @include translateX(-50%);
                    .logo-inner-nav {
                        @include size(69px, auto);
                    }
                    .text-inner-nav {
                        display: block;
                        margin-top: 88px;
                        margin-bottom: unset;
                        a {
                            display: block;
                            @include size(fit-content, null);
                            margin-right: unset;
                            margin-bottom: 40px;
                        }
                    }
                }
            }

            .icon-social {
                position: absolute;
                right: 50px;
                top: 50%;
                @include translateY(-50%);
                .icon-item {
                    background-color: #5E5E5E;
                }

                .instagram {
                    margin-bottom: 11px;
                }
            }
            @include maxWidth(767.98px) {
                .icon-social-sp {
                    @include flexbox;
                    margin-bottom: 25px;
                    .icon-item {
                        background-color: #000000;
                    }
                    .instagram {
                        margin-right: 11px;
                    }
                }
            }
        }

        .slideshow-wrap {
            position: relative;
            top: 64px;
            @include size(calc(100% - 48px), 100%);
            margin-left: auto;
            @include maxWidth(767.98px) {
                @include size(100%, null);
                margin-left: unset;
            }
            .slide-banner {
                z-index: 0;
                div {
                    @include size(null, calc(100vh - 64px));
                    background-size: cover;
                    background-position: center;
                }
                &.kiccho-show-sp {
                    &.owl-loaded {
                        display: none;
                        @include maxWidth(767.98px) {
                            display: block;
                        }
                    }
                }
            }

            .slide-paging {
                position: absolute;
                left: 32px;
                bottom: 32px;
                @include size(54px, 54px);
                border: solid 1px #FFF;
                border-radius: 50%;
                display: table;
                z-index: 1;
                p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: #FFF;
                    font-family: MyriadVariableConcept, sans-serif;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 20.74px;
                    letter-spacing: 1.9px;
                    &:first-child {
                        position: relative;
                        top: -7px;
                        left: 5px;
                    }
                    &:last-child {
                        position: relative;
                        top: 7px;
                        left: -2px;
                    }
                }
                span {
                    margin-top: 10px;
                    background: #fff;
                    display: block;
                    width: 2px;
                    height: 34px;
                    transform: rotate(40deg);
                }
            }

            .logo {
                position: absolute;
                top: calc(50% - 64px);
                left: calc(50% - 48px);
            }

            .logo-pc {
                position: absolute;
                top: calc(50%);
                left: calc(50%);
                @include translate(-50%, -50%);
                @include size(58px, auto);
                img {
                    @include size(100%, 100%);
                }
            }

            .text-large {
                position: absolute;
                top: 180px;
                right: 14%;
                z-index: 2;
                @include flexbox;
                p {
                    font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
                    font-size: 34px;
                    @include size(34px, null);
                    line-height: 42px;
                    color : #FFFFFF;
                    &:first-child {
                        margin-right: 25px;
                    }
                }
            }

            .text-small {
                position: absolute;
                bottom: 115px;
                right: 4.73%;
                z-index: 2;
                &:before {
                    @include pseudo();
                    top: -32px;
                    left: 0;
                    right: 0;
                    @include size(100%, 1px);
                    background-color: #E8E6DF;
                }

                &:after {
                    @include pseudo();
                    bottom: -15px;
                    left: 0;
                    right: 0;
                    @include size(100%, 1px);
                    background-color: #E8E6DF;
                }
            }
        }
    }
    .logo-size {
        @include size(84px, auto);
        img {
            @include size(100%, 100%);
        }
    }

    .logo-black {
        @include size(78px, auto);
        margin: 0 auto;
        img {
            @include size(100%, 100%);
        }
    }

    .phone {
        a {
            display: block;
            @include size(225px, 42px);
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            border: 1px solid #000000;
            font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
            font-size: 14px;
            line-height: 42px;
            color: #000000;
            letter-spacing: 5px;
            &:hover {
                opacity: 0.75;
            }
            @include maxWidth(767.98px) {
                @include size(484px, 91px);
                line-height: 91px;
                border: 2px solid #000000;
                font-size: 28px;
            }

            @include maxWidth(575.98px) {
                @include size(300px, 91px);
            }
        }
    }

    .icon-item {
        @include size(41px, 41px);
        a {
            @include size(100%, 100%);
            text-align: center;
            text-decoration: none;
            display: block;
            line-height: 50px;
            &:hover {
                opacity: 0.75;
            }
        }
    }

    .text-style {
        @include flexbox;
        a {
            text-decoration: none;
            font-family: YuMin-Medium, sans-serif;
            font-size: 18px;
            @include size(18px, 100%);
            line-height: 22px;
            color : #FFFFFF;
            &:not(:last-child) {
                margin-right: 25px;
            }
            &.active {
                background: rgba(255,255,255, 0.1);
            }
            &:hover {
                background: rgba(255,255,255, 0.1);
            }
            span {
                @include minWidth(768px) {
                    display: block;
                    transform: rotate(90deg);
                }
            }
        } 
    }

    .back-to-top {
        position: fixed;
        bottom: 150px;
        right: 10%;
        @include transition(background-color .5s,opacity .5s, visibility .5s);
        opacity: 0;
        visibility: hidden;
        img {
            display: block;
            @include size(63px, 63px);
        }
        &.show {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }
}