#main-content {
    .enclosing-block {
        background-color: #ffffff;
        background-image: url('../images/bgc2.png');
        // MESSAGE
        .block-message {
            padding-top: 205px;
            padding-bottom: 122px;
            @include maxWidth(767.98px) {
                background-color: #262626;
                background-image: url('../images/bgc1.png');
                padding-top: 29.78%;
                padding-bottom: unset;
                position: relative;
            }
            .body-inner {
                position: relative;
                @include maxWidth(767.98px) {
                    position: unset;
                    @include flexbox();
                    flex-direction: column-reverse;
                }
                .img-inner {
                    @include size(57.5%, auto);
                    img {
                        @include size(100%, 100%);
                    }
                    @include maxWidth(767.98px) {
                        @include size(100%, null);
                        margin-bottom: -3px;
                    }
                }

                .block-content {
                    background-color: #E8E6DF;
                    @include size(58.06%, auto);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 8.41%;
                    @include maxWidth(767.98px) {
                        @include size(90.60%, null);
                        transform: unset;
                        position: unset;
                        top: unset;
                        right: unset;
                        margin-top: 35px;
                        margin-bottom: -3.91%;
                    }

                    .title-en-ja {
                        position: absolute;
                        top: 40px;
                        right: -40px;
                        @include maxWidth(1199.98px) {
                            label {
                                font-size: 30px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }

                        @include maxWidth(991.98px) {
                            top: 15px;
                            label {
                                font-size: 25px;
                            }
                        }

                        @include maxWidth(767.98px) {
                            top: 5%;
                            right: 3.91%;
                            label {
                                font-size: 36px;
                                line-height: 74px;
                                letter-spacing: 1.8px;
                                color : #FFFFFF;
                            }
                            p {
                                font-size: 23px;
                                color : #FFFFFF;
                                letter-spacing: 2.3px;
                            }
                        }

                        @include maxWidth(480px) {
                            label {
                                font-size: 30px;
                                line-height: 50px;
                            }
                            p {
                                font-size: 18px;
                            }
                        }
                    }

                    .inner-block-content {
                        padding: 13.42% 17.17% 15.05% 9.7%;
                        h3 {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
                            font-size: 28px;
                            letter-spacing: 2.8px;
                            color : #302F2B;
                            margin-bottom: 40px;
                        }
                        p {
                            font-family: YuGo Medium-83pv-RKSJ-H;
                            font-size: 18px;
                            letter-spacing: 0.9px;
                            color : #000000;
                            line-height: 30px;
                        }
                        @include maxWidth(1199.98px) {
                            padding: 10.42% 14.17% 12.05% 6.7%;
                            h3 {
                                margin-bottom: 30px;
                                font-size: 25px;
                            }
                            p {
                                font-size: 15px;
                            }
                        }

                        @include maxWidth(991.98px) {
                            padding: 11% 6%;
                            h3 {
                                margin-top: 15px;
                                margin-bottom: 25px;
                                font-size: 22px;
                            }
                        }

                        @include maxWidth(767.98px) {
                            padding: 11% 8.6% 14%;
                            h3 {
                                margin-top: unset;
                                margin-bottom: 40px;
                                font-size: 36px;
                                letter-spacing: 3.6px;
                                span {
                                    display: block;
                                    line-height: 60px;
                                }
                            }
                            p {
                                font-size: 24px;
                                letter-spacing: 1.2px;
                                line-height: 42px;
                            }
                        }

                        @include maxWidth(480px) {
                            h3 {
                                margin-bottom: 20px;
                                font-size: 26px;
                            }

                            p {
                                font-size: 16px;
                                line-height: 32px;
                            }
                        }
                    }
                }
            }
        }

        // NEWS
        .block-news {
            background-color: #EDEDEB;
            position: relative;
            .body-inner {
                @include flexbox();
                align-items: center;
                padding: 60px 0;
                @include maxWidth(767.98px) {
                    display: block;
                    padding: 60px 7.05%;
                }
                .title-en-ja {
                    @include size(45%, null);
                    @include maxWidth(991.98px) {
                        @include size(39%, null);
                    }
                    @include maxWidth(767.98px) {
                        @include size(100%, null);
                    }
                    text-align: center;
                }

                ul.list-content {
                    @include size(42%, null);
                    @include maxWidth(991.98px) {
                        @include size(48%, null);
                    }
                    @include maxWidth(767.98px) {
                        @include size(100%, null);
                    }
                    li.item-list {
                        border-bottom: solid 1px #909090;
                        position: relative;
                        a {
                            @include flexbox();
                            text-decoration: none;
                            font-family: YuGo Bold-83pv-RKSJ-H;
                            color : #000000;
                            letter-spacing: 0.85px;
                            padding: 35px 0;
                            span {
                                font-size: 14px;
                                margin-right: 45px;
                            }
                            p {
                                font-size: 17px;
                                max-width: 430px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            display: block;
                            @include size(0, 3px);
                            background-color: #909090;
                            @include transition(width 0.5s);
                        }
                        &:hover:after {
                            @include size(100%, null);
                        }
                    }
                }
            }
            .read-more {
                position: absolute;
                right: 4.36%;
                top: 50%;
                @include translateY(-50%);
                a {
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    img {
                        @include size(35px, 35px);
                        @include transition(all 0.3s linear);
                    }
                    &:hover {
                        opacity: 0.75;
                        & img {
                            @include translateX(10px);
                        }
                    }
                    p {
                        font-family: YuGo Bold-83pv-RKSJ-H;
                        font-size: 13px;
                        color : #000000;
                    }
                }
            }
            @include maxWidth(767.98px) {
                .read-more-pc {
                    padding-bottom: 17%;
                    a {
                        display: block;
                        text-decoration: none;
                        font-family: YuGo Bold-83pv-RKSJ-H;
                        font-size: 13px;
                        color : #000000;
                        height: 95px;
                        line-height: 95px;
                        border: solid 2px #909090;
                        margin: 0 7.05%;
                        text-align: center;
                        &:hover {
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

        // FURISODE
        .block-furisode {
            .body-inner {
                @include flexbox();
                @include maxWidth(767.98px) {
                    display: block;
                    padding-bottom: 18%;
                } 
                .slide-img {
                    position: relative;
                    @include size(50%, null);
                    @include maxWidth(767.98px) {
                        @include size(100%, 100vh);
                    } 
                    div {
                        @include size(100%, 100%);
                        background-size: cover;
                        background-position: center;
                    }
                    .slide-paging {
                        position: absolute;
                        left: 32px;
                        bottom: 32px;
                        @include size(54px, 54px);
                        border: solid 1px #FFF;
                        border-radius: 50%;
                        display: table;
                        z-index: 1;
                        @include maxWidth(767.98px) {
                            top: 32px;
                            bottom: unset;
                        }
                        p {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            color: #FFF;
                            font-family: MyriadVariableConcept, sans-serif;
                            font-weight: bold;
                            font-size: 19px;
                            line-height: 20.74px;
                            letter-spacing: 1.9px;
                            &:first-child {
                                position: relative;
                                top: -7px;
                                left: 5px;
                            }
                            &:last-child {
                                position: relative;
                                top: 7px;
                                left: -2px;
                            }
                        }
                        span {
                            margin-top: 10px;
                            background: #fff;
                            display: block;
                            width: 2px;
                            height: 34px;
                            transform: rotate(40deg);
                        }
                    }
                }
                .body-content {
                    @include size(50%, null);
                    @include maxWidth(767.98px) {
                        background-color: #fff;
                        @include size(calc(100% - 64px), null);
                        margin: 0 auto;
                        position: relative;
                        top: -60px;
                        z-index: 1;
                        padding-bottom: 40px;
                    } 
                    .title-en-ja {
                        text-align: center;
                        padding-top: 18%;
                        padding-bottom: 60px;
                    }
                    .text-under-title {
                        padding: 0 24.5% 55px;
                        p {
                            font-family: YuGo Medium-83pv-RKSJ-H;
                            font-size: 18px;
                            line-height: 33px;
                            letter-spacing: 0.9px;
                            color : #000000;
                        }
                        @include maxWidth(991.98px) {
                            padding: 0 18% 55px;
                        }

                        @include maxWidth(991.98px) {
                            padding: 0 9% 50px;
                        }
                    }
                    .back-to-idx {
                        margin: 0 24.5% 28%;
                        a {
                            height: 87px;
                            line-height: 87px;
                        }
                        .kiccho-show-sp {
                            display: none;
                        }
                        @include maxWidth(991.98px) {
                            margin: 0 18% 28%;
                        }

                        @include maxWidth(767.98px) {
                            margin: 0 9% 0;
                            .kiccho-show-sp {
                                display: block !important;
                            }
                        }
                    }
                }
            }
        }
    } 

    // PRODUCT
    .block-product {
        background-color: #E2DCCD;
        text-align: center;
        @include size(100%, 260px);
        display: table;
        .title-en-ja {
            display: table-cell;
            vertical-align: middle;
        }
    }

    // MAIN PRODUCT
    .main-product {
        background-color: #262626;
        background-image: url('../images/bgc1.png');
        .title-center {
            text-align: center;
            padding-top: 4.8%;
            span:first-child {
                font-family: IowanOldStyle Italic, sans-serif;
                font-size: 22px;
                letter-spacing: 1.1px;
                color : #FCFCFC;
                -webkit-writing-mode: vertical-rl;
                -moz-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                transform: rotate(0deg);
                white-space: nowrap;
            }
            span:last-child {
                font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
                font-size: 25px;
                letter-spacing: 1.5px;
                line-height: 40px;
                color : #FFFFFF;
                -webkit-writing-mode: vertical-rl;
                -moz-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
            }
            @include maxWidth(767.98px) {
                padding: 15.5% 0;
                span {
                    &:first-child {
                        font-size: 29px;
                    }
                    &:last-child {
                        font-size: 33px;
                    }
                }
            }
        }
        .list-products {
            padding-bottom: 15%;
            @include maxWidth(767.98px) {
                padding-bottom: unset;
                margin-bottom: -4%;
            }
            .surround {
                @include flexbox();
                padding: 16% 4% 0;
                @include maxWidth(767.98px) {
                    display: block;
                    padding: unset;
                }
            }
            .item-product {
                display: block;
                @include size(100%, null);
                position: relative;
                padding: 0 4%;
                img {
                    @include size(100%, null);
                }
                &:first-child {
                    top: -80px;
                }

                &:last-child {
                    top: 100px;
                }
                @include maxWidth(767.98px) {
                    padding-left: unset;
                    padding-right: unset;
                    margin-bottom: 4%;
                    @include flexbox();
                    background-color: #fff;
                    &:first-child {
                        top: unset;
                    }

                    &:last-child {
                        top: unset;
                    }
                    .img-product {
                        @include size(45%, 100%);
                        margin-bottom: -3px;
                    }

                    .content-pc {
                        @include size(55%, 100%);
                    }
                }
            }

            .next-to-img {
                position: absolute;
                top: 0;
                right: 10px;
                -webkit-writing-mode: vertical-rl;
                -moz-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                span:first-child {
                    font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
                    font-size: 30px;
                    color : #FFFFFF;
                    margin-bottom: 35px;
                }
                span:last-child {
                    font-family: IowanOldStyle Italic, sans-serif;
                    font-size: 20px;
                    letter-spacing: 1px;
                    color : #FCFCFC;
                }
                @include maxWidth(1199.98px) {
                    right: 0;
                }

                @include maxWidth(991.98px) {
                    span {
                        &:first-child {
                            right: 0;
                            margin-bottom: 30px;
                            font-size: 25px;
                        }

                        &:last-child {
                            font-size: 18px;
                        }
                    }
                }
                @include maxWidth(767.98px) {
                    position: unset;
                    top: unset;
                    right: unset;
                    -webkit-writing-mode: unset;
                    -moz-writing-mode: unset;
                    -ms-writing-mode: unset;
                    writing-mode: unset;
                    padding-left: 12%;
                    padding-top: 9%;
                    span {
                        color: #0C0C0C !important;
                        display: block;
                        &:first-child {
                            margin-bottom: 10px;
                            font-size: 36px;
                        }

                        &:last-child {
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                    }
                }
                @include minMaxWidth(320px, 555px) {
                    padding-left: 8%;
                    span {
                        &:first-child {
                            font-size: 26px;
                        }

                        &:last-child {
                            font-size: 16px;
                        }
                    }
                }
            }

            .text-under-img {
                margin-top: 15px;
                p {
                    font-family: YuGo Medium-83pv-RKSJ-H;
                    font-size: 16px;
                    line-height: 24.94px;
                    letter-spacing: 0.8px;
                    color : #FFFFFF;
                }
                @include maxWidth(767.98px) {
                    margin: 8% 12% 0;
                    p {
                        font-size: 25px;
                        line-height: 32px;
                        color: #0C0C0C;
                    }
                }

                @include minMaxWidth(320px, 555px) {
                    margin: 6% 8% 0;
                    p {
                        font-size: 12px;
                        line-height: 19px;
                    }
                }
            }
        }

        .other-product {
            position: relative;
            .next-to-bgc {
                position: absolute;
                top: 50%;
                right: 4.36%;
                @include translateY(-50%);
                @include flexbox();
                align-items: center;
                span {
                    color : #000000;
                    &:first-child {
                        font-family: IowanOldStyle Italic, sans-serif;
                        font-size: 25px;
                        -webkit-writing-mode: vertical-rl;
                        -moz-writing-mode: vertical-rl;
                        -ms-writing-mode: tb-rl;
                        writing-mode: vertical-rl;
                        transform: rotate(0deg);
                        white-space: nowrap;
                    }

                    &:last-child {
                        font-family: TsukuOldMinPro R-83pv-RKSJ-H, sans-serif;
                        font-size: 22px;
                        letter-spacing: 1.1px;
                        line-height: 40px;
                        -webkit-writing-mode: vertical-rl;
                        -moz-writing-mode: vertical-rl;
                        -ms-writing-mode: tb-rl;
                        writing-mode: vertical-rl;
                    }
                }
                @include maxWidth(991.98px) {
                   right: 1%;
                   span {
                       &:first-child {
                           font-size: 22px;
                       }

                       &:last-child {
                           font-size: 19px;
                           line-height: 35px;
                       }
                   }
                }

                @include maxWidth(767.98px) {
                    position: unset;
                    transform: unset;
                    justify-content: center;
                    padding: 50px 0;
                    span {
                        color : #FFFFFF;
                        &:first-child {
                            font-size: 33px;
                            order: 1;
                        }

                        &:last-child {
                            font-size: 29px;
                            line-height: 35px;
                        }
                    }
                }
            }

            .list-img {
                background-color: #fff;
                @include flexbox();
                justify-content: center;
                padding: 50px 0;
                .inner-list {
                    padding: 0 1.24%;
                    .item-img {
                        @include size(245px, 245px);
                        img {
                            @include size(100%, 100%);
                            border-radius: 50%;
                        }
                        @include maxWidth(1023.98px) {
                            @include size(200px, 200px);
                        }
                        @include maxWidth(767.98px) {
                            @include size(178px, 178px);
                        }

                        @include maxWidth(575.98px) {
                            @include size(126px, 126px);
                        }

                        @include minMaxWidth(320px, 414px) {
                            @include size(98px, 98px);
                        }
                    }

                    .text-under-img {
                        margin-top: 15px;
                        text-align: center;
                        p {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 16px;
                            color : #000000;
                        }
                    }
                }
            }
        }

        .block-under-other {
            text-align: center;
            padding: 90px 0;
            p {
                font-family: YuGo Bold-83pv-RKSJ-H;
                font-size: 15px;
                line-height: 31px;
                letter-spacing: 1.5px;
                color : #FFFFFF;
            }
            @include maxWidth(767.98px) {
                padding-top: 35px;
                padding-bottom: 75px;
                p {
                    font-size: 20px;
                    letter-spacing: 2px;
                    padding: 0 15px;
                }
            }
            @include maxWidth(360px) {
                p {
                    font-size: 17px;
                }
            }
        }
    }

    .kimono-clinic {
        background-color: #fff;
        background-image: url(../images/bgc3.png);
        .wrap-body {
            padding: 13% 0;
            @include maxWidth(767.98px) {
                padding: 5% 0 25%;
            }
        }
        .wrap-content {
            background-color: #fff;
            @include flexbox();
            position: relative;
            @include maxWidth(767.98px) {
                display: block;
                background-color: unset;
            }
            .content-left {
                @include size(56.25%, null);
                @include maxWidth(767.98px) {
                    @include size(100%, null);
                    @include flexbox();
                }
                .inner-img {
                    position: relative;
                    top: 100px;
                    margin: 0 auto;
                    @include size(76%, null );
                    @include maxWidth(767.98px) {
                        @include size(72%, null);
                        margin: unset;
                        top: unset;
                    }
                    img {
                        @include size(100%, 100% );
                        object-fit: cover;
                    }
                }
                .text-next-to-bgc {
                    position: absolute;
                    top: -25px;
                    right: 5.5%;
                    p {
                        width: 32px;
                        font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                        font-size: 32px;
                        color: #000000;
                    }
                    @include maxWidth(767.98px) {
                        position: unset;
                        @include size(28%, null );
                        @include flexbox();
                        align-items: center;
                        p {
                            margin: 0 auto;
                            font-size: 40px;
                        }
                    }
                }
            }

            .content-right {
                @include size(33%, null);
                margin-top: 100px;
                @include maxWidth(767.98px) {
                    @include size(100%, null);
                    margin-top: unset;
                }
                .text-title {
                    h3 {
                        font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                        font-size: 22px;
                        color : #000000;
                    }
                }
                .text-content {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    p {
                        font-family: YuGo Medium-83pv-RKSJ-H;
                        font-size: 18px;
                        letter-spacing: 0.9px;
                        color : #000000;
                        line-height: 30px;
                        @include maxWidth(767.98px) {
                            font-size: 22px;
                            padding: 0 30px;
                            line-height: 40px;
                        }
                    }
                }

                .btn-clinic {
                    @include size(null, 88px);
                    line-height: 88px;
                    @include maxWidth(767.98px) {
                        margin: 0 30px;
                    }
                }
            }
        }
    }

    .kimono-accessories {
        background-color: #262626;
        background-image: url('../images/bgc1.png');
        .section-title {
            @include flexbox();
            justify-content: space-between;
            .block-left {
                @include size(64%, null);
                @include maxWidth(767.98px) {
                    @include size(50%, null);
                }
                img {
                    @include size(100%, 100%);
                }
            }
            .block-mid {
                @include size(16.5%, null);
                @include flexbox();
                align-items: center;
                justify-content: center;
                @include maxWidth(767.98px) {
                    @include size(50%, null);
                }
                img {
                    @include size(100%, 100%);
                }
                .inner-text {
                    color : #FFFFFF;
                    @include flexbox();
                    align-items: flex-start;
                    span {
                        -webkit-writing-mode: vertical-rl;
                        -moz-writing-mode: vertical-rl;
                        -ms-writing-mode: tb-rl;
                        writing-mode: vertical-rl;
                        &:nth-child(1) {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 13px;
                            letter-spacing: 3px;
                            color : #FFFFFF;
                        }
                        &:nth-child(2) {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 13px;
                            letter-spacing: 3px;
                            color : #FFFFFF;
                            margin-left: 5px;
                        }
                        &:nth-child(3) {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 35px;
                            letter-spacing: 6px;
                            color : #FFFFFF;
                            margin-left: 28px;
                        }
                    }
                }
            }
            .block-right {
                @include size(19.5%, null);
                img {
                    @include size(100%, 100%);
                }
            }
        }

        .section-product {
            .list-products {
                padding-top: 110px;
                @include maxWidth(767.98px) {
                    padding-top: 60px;
                    @include flexbox();
                    justify-content: center;
                }
            }

            .surround {
                @include flexbox();
                justify-content: center;
                @include maxWidth(767.98px) {
                    display: block;
                }
                &:first-child {
                    margin-bottom: 50px;
                    @include maxWidth(767.98px) {
                        margin-bottom: unset;
                    }
                }
                .item-product {
                    padding: 0 15px;
                    @include maxWidth(767.98px) {
                        padding: 0 10px;
                    }
                    .block-hover {
                        position: relative;
                        &:hover {
                            .hover-item {
                                display: block;
                                @include size(100%, 100%);
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: rgba(0, 0, 0, 0.3);
                                text-align: center;
                                .inner-hover {
                                    position: absolute;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    @include translate(-50%, -50%);
                                }
                                .price {
                                    font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                                    font-size: 15px;
                                    letter-spacing: 1.5px;
                                    color : #FFFFFF;
                                    margin: 10px 0;
                                }
                                .btn-shop-cart {
                                    a {
                                        display: block;
                                        text-decoration: none;
                                        font-family: YuGo Bold-83pv-RKSJ-H;
                                        font-size: 13px;
                                        color : #FFFFFF;
                                        border: solid 1px #FFF;
                                        padding: 6px 10px;
                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .price-pc {
                        text-align: right;
                        margin-top: 10px;
                        margin-bottom: 25px;
                        img {
                            @include size(20px, auto);
                            margin-right: 10px;
                        }
                        span {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 18px;
                            letter-spacing: 1.8px;
                            color : #FFFFFF;
                        }
                    }
                    .inner-img {
                        display: block;
                        img {
                             @include size(100%, 100%);
                        }
                    }
                    .text-under {
                        margin-top: 10px;
                        span {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 15px;
                            letter-spacing: 1.5px;
                            color : #FFFFFF;
                            line-height: 22px;
                            @include maxWidth(767.98px) {
                                font-size: 20px;
                            }
                            @include maxWidth(575.98px) {
                                font-size: 14px;
                            }
                            @include maxWidth(413.98px) {
                                font-size: 10px;
                            }
                        }
                        @include maxWidth(767.98px) {
                            border-bottom: 1px solid #fff;
                            padding-bottom: 10px;
                        }
                    }
                    .hover-item {
                        display: none;
                    }
                }
            }

            .read-more {
                text-align: center;
                padding-top: 115px;
                padding-bottom: 80px;
                @include maxWidth(767.98px) {
                    padding-top: 25px;
                    padding-bottom: 60px;
                }
                a {
                    text-decoration: none;
                    @include size(fit-content, null);
                    span {
                        font-family: YuGo Bold-83pv-RKSJ-H;
                        font-size: 21px;
                        color : #FFFFFF;
                        margin-right: 5px;
                    }
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    .contact-form {
        @include maxWidth(767.98px) {
            background-image: url(../images/bgc2.png);
        }
        .wrap-body {
            @include flexbox();
            padding-top: 15%;
            padding-bottom: 7%;
            @include maxWidth(767.98px) {
                flex-direction: column;
                padding-top: 30%;
                padding-left: 35px;
                padding-right: 35px;
            }
            .contact-us {
                width: 50%;
                @include flexbox();
                @include maxWidth(767.98px) {
                    width: 100%;
                    display: block;
                    order: 1;
                }
                .contact-title {
                    width: 17.25%;
                    position: relative;
                    top: -10%;
                    @include maxWidth(767.98px) {
                        width: 100%;
                        position: unset;
                        top: unset;
                        padding: 12% 0;
                    }
                    p {
                        font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                        font-size: 32px;
                        letter-spacing: 3.2px;
                        color : #000000;
                        width: 32px;
                        margin-left: auto;
                        line-height: 37px;
                        @include maxWidth(767.98px) {
                           margin: 0 auto;
                        }
                    }
                }
                .form {
                    width: 65.75%;
                    margin: 0 auto;
                    @include maxWidth(767.98px) {
                        width: 100%;
                    }
                    .itemt-input {
                        margin-bottom: 12px;
                        input {
                            width: calc(100% - 18px);
                            padding: 20px 0 20px 16px;
                            border: 1px solid #e8e6df;
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 18px;
                            color: #000000;
                            &::placeholder {
                                color: #000000;
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #000000;
                            }

                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: #000000;
                            }
                        }
                        textarea {
                            width: calc(100% - 18px);
                            padding: 20px 0 0 16px;
                            border: 1px solid #e8e6df;
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 18px;
                            &::placeholder {
                                color: #000000;
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #000000;
                            }

                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: #000000;
                            }
                        }
                    }
                    .btn-submit {
                        height: 98px;
                        line-height: 98px;
                    }
                }
            }
            .cpn-profile {
                width: 50%;
                @include flexbox();
                @include maxWidth(767.98px) {
                    width: 100%;
                    display: block;
                }
                .cpn-title {
                    width: 17.25%;
                    position: relative;
                    top: -10%;
                    @include maxWidth(767.98px) {
                        width: 100%;
                        position: unset;
                        top: unset;
                        padding-bottom: 12%;
                    }
                    p {
                        font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                        font-size: 32px;
                        letter-spacing: 3.2px;
                        color : #000000;
                        width: 32px;
                        margin-left: auto;
                        line-height: 37px;
                        @include maxWidth(767.98px) {
                            margin: 0 auto;
                        }
                    }
                }
                .cpn-content {
                    width: 74.50%;
                    margin: 0 auto;
                    @include maxWidth(767.98px) {
                        width: 100%;
                        display: block;
                    }
                    .item-inner {
                        @include flexbox();
                        border-bottom: 1px solid #e8e6df;
                        &:first-child {
                            border-top: 1px solid #e8e6df;
                        }
                        p {
                            font-family: TsukuOldMinPro R-83pv-RKSJ-H;
                            font-size: 18px;
                            color : #000000;
                            padding: 25px 0;
                            line-height: 25px;
                            &:first-child {
                                width: 25%;
                            }
                            &:last-child {
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}